.product
{
    width: 280px;
    height: 300px;
    border: 1px solid #99A799;
    padding-top: 2px;
    border-radius: 10px;
    position: relative;
}

.product img
{
    border: 2px solid #ADC2A9;
    border-radius: 5px;
    margin: 3px;

}

.product-info
{
    font-family: sans-serif;
    font-size: 20px;
    margin: 14px;
}

.product-info p
{
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-cart
{
    width: 100%;
    background-color: #798777;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-cart p
{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.btn-cart:hover
{
    background-color: tomato;
}