.gym-club
{
    color: aqua;
}

.club-container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

/* .total-info
{
    align-items: center;
    justify-content: center;
} */

.information-details
{

    background-color: #F8EDE3;
    border-radius: 6px;
    margin-right: 45px;
    text-align: center;
    justify-content: center;

}

.information
{
    display: flex;
    align-items: center;
    text-align: center;


}

.information h3
{
    margin-left: 30px;
}

.information p
{
    color: gray;

}

.fitnes-info
{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
    padding-top: 0;
}

.fitnes-info p
{
    margin-top: -20px;
    color: gray;
}

.circle
{
    display: flex;
    background-color: #F8EDE3;
    gap: 15px;
    margin-top: 20px;
    border-radius: 6px;
    margin-right: 35px;
}

.circle p
{
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    background-color: #A2B29F;
    text-align: center;
    padding: 5px;
}

.exercise-time
{

    background-color: #F8EDE3;
    width: 85%;
    height: 50px;
    border-radius: 6px;

}

.exercise-time h4
{
    margin-left: 10px;
    padding-top: 12px;
}

.break-time
{
    background-color: #F8EDE3;
    width: 85%;
    height: 50px;
    border-radius: 6px;

}

.break-time h4
{
    margin-left: 10px;
    padding-top: 12px;
}

.btn-activity
{
    width: 85%;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #C37B89;
}

.question-and-answer
{
    background-color: #BDD2B6;
    color: black;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    border-radius: 5px;

}

.question-and-answer h3
{
    color: #F8EDE3;
}